body {
  background-color: #FEE819;
  font-family: Helvetica;
}

.container {
  display: block;
  background-color: #fff7b7;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto
}

.header{
  font-size: 90px;
  color: #FF1685;
  background-color: #FEE819;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 900;
}

.tilecontainer{
  perspective: 1000px;
}

.tilecontainer:hover .tileflipper,
.tilecontainer.flipped .tileflipper{
  transform: rotateY(180deg);
}

.tilecontainer{
  height: 300px;
  width: 300px;
}

.tileflipper{
  transition: 0.6s;
  transform-style: preserve-3d;;
  position: relative;
}

.tile1front,
.tile1back,
.tile2front,
.tile2back,
.tile3front,
.tile3back,
.tile4front,
.tile4back,
.tile5front,
.tile5back,
.tile6front,
.tile6back{
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.maintable{
  width: 100%;
  border-spacing: 0px;
  box-shadow: 0px 9px 0px 0px #FEE819, 0px -9px 0px 0px #FEE819, 12px 0px 15px -4px #d6c84a, -12px 0px 15px -4px #d6c84a;
  text-align: center;
  vertical-align: middle;
}

.maintable td{
  padding: 0px;
}

.maintable tr{
  height: 300px;
  padding: 0px;
}

.tile1front,
.tile2front,
.tile3front,
.tile4front,
.tile5front,
.tile6front{
  height: 300px;
  width: 300px;
  outline: 0px solid #eee;
  z-index: 2;
  transform: rotateY(0deg);
}

.tile1back,
.tile2back,
.tile3back,
.tile4back,
.tile5back,
.tile6back{
  height: 300px;
  width: 300px;
  outline: 0px solid #eee;
  transform: rotateY(180deg);
}


.tile1front:hover,
.tile2front:hover,
.tile3front:hover,
.tile4front:hover,
.tile5front:hover,
.tile6front:hover{
  outline: 2px solid white;
  opacity: 30%;
  transition: .1s ease-in
}

.tile2fronttest{
  transform: rotateY(180deg);
  height: 300px;
  width: 300px;
  outline: 0px solid #eee;
  transition: .3s ease-in;
}

.content{
  padding-top: 30%;
  color: white;
}

.tile1front{
  background-color: #FF1685;
}

.tile1back{
  background-color: #ef88b8;
}

.icon img{
  width: 25%;
  height: 25%;
}

.tile2front{
  background-color: #02ADD9;
}

.tile2back{
  background-color: #7cd6ea;
}

.tile3front{
  background-color: #54DB40;
}

.tile3back{
  background-color: #65f288;
}

.tile4front{
  background-color: #FF9830;
}

.tile4back{
  background-color: #f4a665
}

.tile5front{
  background-color: #A10EEC;
}

.tile5back{
  background-color: #cc91ef;
}

.tile6front{
  background-color: #4c4c4c;
}

.tile6back{
  background-color: #9e9e9e;
}

.headline2{
  background-color: green;
}
